In [1]:
import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
# first_requirement
df = pd.DataFrame(exam_data)
df =df.set_index([labels])
print(df.head(3))
# second_requirement
print(df.dropna())
# third_requirement
print(df['name'])
print(df['score'])
# fourth_requirement
df.loc['k'] = ['Suresh',  15.5,  1, 'yes']
print(df)
# fifth_requirement
df = df.drop('attempts', axis=1)
print(df)
#sixth_requirement
sucsses = df[df["score"] >= 10].index
df.loc[sucsses,"success"] = "1"
sucsses= df[df["score"] < 10].index
df.loc[sucsses,"success"] = "0"
print(df)
df.to_csv('data.csv')

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
a    Anastasia
b         Dima
c    Katherine
d        James
e        Emily
f      Michael
g      Matthew
h        Laura
i        Kevin
j        Jonas
Name: name, dtype: object
a    12.5
b     9.0
c    16.5
d     NaN
e     9.0
f    20.0
g    14.5
h     NaN
i     8.0
j    19.0
Name: score, dtype: float64
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
k     Suresh   15.5         1     yes
        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
d      James    NaN      no
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
h      Laura    NaN      no
i      Kevin    8.0      no
j      Jonas   19.0     yes
k     Suresh   15.5     yes
        name  score qualify success
a  Anastasia   12.5     yes       1
b       Dima    9.0      no       0
c  Katherine   16.5     yes       1
d      James    NaN      no     NaN
e      Emily    9.0      no       0
f    Michael   20.0     yes       1
g    Matthew   14.5     yes       1
h      Laura    NaN      no     NaN
i      Kevin    8.0      no       0
j      Jonas   19.0     yes       1
k     Suresh   15.5     yes       1